PORT=3000
MONGODB_URI=mongodb://localhost:27017/civilization_timeline

# For production (Render.com will provide this)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/civilization_timeline
