PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/civilization_timeline?schema=public

# For production (NeonDB)
# DATABASE_URL=postgresql://neondb_owner:npg_Kbl1pd6nyAMI@ep-curly-sea-anjutse4-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
